<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，唯一标识。一般指定为自定义的接口文件，下面相当于这个接口的实现类 -->
<mapper namespace="com.example.demo.dao.DepartmentMapper">
    <!-- 定义结果集，column表示sql查询列,property表示映射到实体的属性 -->
    <resultMap type="com.example.demo.bean.Department" id="myDep">
        <id column="dep_id" property="id"/>
        <result column="dep_name"  property="name"/>
        <!-- 关联对象 -->
        <collection property="employees" ofType="com.example.demo.bean.Employee">
            <id column="e_id"  property="eId"/>
            <result column="name"  property="name"/>
            <result column="gender"  property="gender"/>

        </collection>
    </resultMap>
    <!-- resultMap指定使用上面定义的结果集,查询使用关联查询，查询列要和上面的column对应 -->
    <select id="getDepById" resultMap="myDep">
        SELECT
        dep.id dep_id,dep.name dep_name,emp.*
        FROM
        department dep,employee emp
        where id=#{id} and emp.d_id=dep.id
    </select>
    </mapper>